/*  -------------- // Base // -------------- */
html, body {
    height: 100%;
}

html {
    font-family: 'Noto Sans', sans-serif; 
    font-size: 0.875rem;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 16px;
}

main {
    flex-grow: 1;
}

img {
    /* max-width: 100%; */
    height: auto;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

ol {
    list-style: auto;
    padding-top: 12px;
}

li {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: #404040;
}