/* -------------- // heading //  --------------*/
h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 3.25rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 1.1rem;
    line-height: 24px;
}

.h3-artifact-gen {
    padding-bottom: 0.6rem;
    padding-top: 0.7rem;
}

h4 {
    font-size: 1.25rem;
    color: #3E492E;
}

h5 {
    font-size: 1.15rem;
    padding-top: 1.1rem;
}

b {
    font-weight: 500;
    color: #3E492E;
}

i {
    font-style: italic;
}

/* -------------- // Type //  --------------*/
.h5-pb {
    padding-bottom: 8px;
}

.caption {
    font-style: italic;
    justify-content: center;
    padding-top: 1.5rem;
}

.subtitle {
    font-size: 1.125rem;
    color: #424242;
    padding-top: 1.8rem;
}

.card-h3 {
    padding-bottom: 8px;
    line-height: 1.6rem;
}

.card-category {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 1.4rem;
    color: #646464;
}

.card-body {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: #404040;
}

.sec-body-sm {
    font-size: 1.1rem;
    color: #000;
    line-height: 1.6rem;
    font-weight: 300;
}

.sec-body-md {
    font-size: 1.25rem;
    color: #000;
    line-height: 12px;
    padding-bottom: 1.2rem;
    text-transform: uppercase;
}

.button-txt {
    font-size: .875rem;
    font-weight: 500;
}

.proto-text {
    padding-bottom: 42px;
    font-style: italic;
    justify-content: center;
}