/*  -------------- // Helper Class // -------------- */
.h3-break {
    padding-top: 1.4rem;
}

.p-break {
    padding-top: 1.2rem;
}

.icon-gap {
    gap: var(--column-gap);
}

.flex {
    display: flex;
}

.img-center {
    flex-direction: column;
    justify-content: center;
}

.sec-body-ctnr {
    margin: auto 0;
}

.margin-middle {
    margin: 0 auto;
    display: block;
}

.jc-center {
    justify-content: center;
}

.no-gap {
    gap: 0;
}

.btn-ctr {
    justify-content: center;
}

.align-ul {
    align-items: center;
    justify-content: center;
}

.figma-center {
    margin: 0 auto 40px;
    display: block;
    max-width: 100%;
}

/*  -------------- // UTIL  // -------------- */

.header-right {
    position: relative;
    top: 42%;
    text-transform: uppercase;
    text-align: center;
}

.main-title {
    text-align: center;
    height: 173px;
    justify-content: center;
    align-items: center;
}

/*  -------------- // Border // -------------- */
.border-b {
    border-bottom: 1px solid #000;
}

.border-t {
    border-top: 1px solid #000;
}

.border-r {
    border-right: 1px solid #000;
}

.border-l {
    border-left: 1px solid #000;
}


/*  -------------- // Button // -------------- */
.btn {
    text-transform: uppercase;
    width: 126px;
    height: 42px;
    text-align: center;
}

.btn-card-top {
    margin-top: 24px;
}

.btn-fill {
    color: white;
    background-color: var(--primary);
    border: 1px solid #000;
}

.btn-fill:hover {
    color: black;
    background-color: white;
    border: 1px solid #000;
    transition: 0.2s;
}

.btn-outline {
    color:#3E492E;
    background-color: white;
    border: 1px solid #3E492E;
}

.btn-outline:hover {
    color: white;
    background-color: #3E492E;
    border: 1px solid white;
    transition: 0.2s;
}

.btn-right {
    align-self: end;
}


/*  -------------- // Work Cards // -------------- */
.work__cont {
    flex-direction: column;
}

.work__cont.grid {
    gap: 0;
}

.work__ind-card .card-content {
    align-items: center;
    text-align: left;
    padding: 38px 28px;
}

.work__ind-card {
    border-left: 1px solid #000;
}

.work__ind-card.last-card {
    border-right: 1px solid #000;
}


/*  -------------- // Container BG Color // -------------- */
.bg-color-1 {
    background-color: var(--primary);
}

.bg-color-2 {
    background-color: var(--secondary);
}

.bg-color-3 {
    background-color: var(--tertiary);
}

/*  -------------- // ABOUT // -------------- */
.abt-left {
    position: relative;
    margin: 0 auto;
    top: 28%;
}

.abt-right {
    position: relative;
    margin: 0 auto;
    top: 28%;
    text-align: right;
}

/*  -------------- // HOME // -------------- */

.home-heading {
    text-align: center;

}

.home-left {
    position: relative;
    margin: 0 auto;
    top: 41%;
}

.home-right {
    position: relative;
    margin: 0 auto;
    top: 41%;
}

/*  -------------- // Container Text Padding // -------------- */
/* .padding-right {
    padding-right: 49px;
    padding-left: 102px;
} */

.padding-right {
    padding-right: 52px;
    padding-left: 44px;
}

.padding-left {
    padding-left: 28px;
    padding-right: 28px;
}

.padding-49-l {
    padding-left: 49px;
}

.padding-49-r {
    padding-right: 49px;
}

.padding-top {
    padding-top: 100px;
}

.padding-bottom {
    padding-bottom: 100px;
}

/*  -------------- // Header Box Frame// -------------- */
.header-box__title-cont {
    position: relative;
    height: 150px;
    width: 100%;
}

.header-box__body-cont {
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #000;
}

/*  -------------- // Section Box Frame for Portfolio Pages// -------------- */
.sctn-box__title-cont {
    height: auto;
    padding: 18px 16px;
    /* border-bottom: 1px solid black; */
    width: 100%;
    position: relative;
    
}

.sctn-box__body-cont {
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #000;
    position: relative;
}

.artifact-header-right {
    right: -19%;
    top: 69%;
}


