/*  -------------- // Root Variables // -------------- */

:root {
    --column-gap: 0.7rem;
    --column-no-gap: 0;
    --primary: #3E492E;
    --secondary: #DB8134;
    --tertiary: #CBCDC0;
    --icon: #696969;
    --light-grey: 646464;
}